.header {
    padding: 30px;
    background-color: #1c1d21;
    display: flex;
    align-items: center;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 20px;

    .header-title {
        margin: 0;
        font-size: 42px;
    }

    .header-users-count,
    .header-messages-count {
        margin-left: 30px;
    }

    .header-last-message {
        margin-left: auto;
    }
}
